/* .heading~p{
    color: red;
    
}

/* .div~li{
    color: rgb(31, 207, 122);
} */ 
/* 
h1{
    color: aqua !important; 
}
h1{
    color: blue;
}

.heading{
    color: blueviolet;
}

#head{
    color: rgb(66, 172, 230);
} */

/* span{
    color: aqua;
} */

body{
    color: black;
}
h1{
    background-color: rgb(128, 255, 212,0.4);
    opacity: 0.5;
}



















